/*
 * gmzbluetheme theme base layout.
 *
 * Copyright 2014 O. A. Rodríguez
 */

// Inline code
code {
    font-size: @font-size-base;
}

#gmz-header {
    height:             @gmzheader-height;

    color:              @gmzheader-color;
    font-size:          @gmzheader-font-size;
    font-family:        @font-family-monospace;
    line-height:        @gmzheader-height;

    background-color:   @gmzheader-bg;
    border-bottom:      1px solid darken(@gmzheader-bg, 10%);
}

#gmzbody-inner {
    margin:             10px auto;
    padding:            10px 20px;

    background-color:   fade(#fff, 85%);
}

#gmzfooter-outer {
    padding:            10px 0;

    min-height:         150px;

    color:              #fff;

    #gradient > .vertical(lighten(#222, 5%), #222, 0, 100%);

    footer {

    }
}

.gmztile {
    position:           relative;

    height:             @gmztile-height;
    margin:             5px 0 20px 5px;
    overflow:           hidden;

    #gradient > .vertical(fade(white, 90%), fade(white, 80%), 0, 100%);

    &:hover {
        .gmztile-content {
            top: 0;
        }

        &.gmzstyle-blue {
            #gradient > .vertical(fade(@gmzstyle-blue-hover-bg, 90%), fade(@gmzstyle-blue-hover-bg, 80%), 0, 100%);
        }
    }
}

.gmztile-content {
    position: absolute;
    height: @gmztile-height;
    top: @gmztile-height - 45px;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    padding: 0 5px;

    background-color: fade(black, 70%);

    .transition(~"top 0.25s ease-out");

    header h3 {
        margin: 15px auto;
    }

    .summary {
        position: relative;
    }

    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        padding: 5px 10px;

        background-color: fade(gray, 50%);
    }

    .read-more {
        position: relative;
    }

    .info {
        position: absolute;
        bottom: 0;
        left: 0;

        padding: 0 0 13px 10px;

        text-transform: capitalize;
    }

    .gmzarticle & {
        position: relative;
        top: 0;
    }
}

.gmzarticle {

    .gmztile-content {
        height: ceil(@gmztile-height * 0.8);

        background-color: fade(black, 10%);
    }

    header h1 {
        margin-top: 5px;
    }

    .info {
        position: relative;

        margin-bottom: 20px;
    }

    .date {
        text-transform: capitalize;
    }

    .content {
        margin-top:  10px;
    }

    .extra-info {
        margin-top: 20px;
        padding: 10px;

        background-color: fade(#999, 50%);

        text-shadow: 0px 1px 1px #fff;

        .social-buttons {

            display: inline-block;

            .addthis_32x32_style .addthis_counter.addthis_bubble_style {
                // Hack for AddThis buttons
                width: 62px !important;
            }
        }

        .license {
            padding: 10px 0;
        }
    }

    .comments {
        padding: 20px 0;
    }
}


.gmzstyle-blue {
    color: #fff;
    a {
        color: #fff;
    }

    #gradient > .vertical(fade(@gmzstyle-blue-bg, 90%), fade(@gmzstyle-blue-bg, 80%), 0, 100%);
}

.gmzstyle-default {
    color: #fff;
    a {
        color: #fff;
    }

    #gradient > .vertical(fade(@gmzstyle-default-bg, 90%), fade(@gmzstyle-default-bg, 80%), 0, 100%);
    &:hover {
        #gradient > .vertical(fade(@gmzstyle-default-hover-bg, 90%), fade(@gmzstyle-default-hover-bg, 80%), 0, 100%);
    }
}
